<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>
    <h1>
        Data Stored are:
    </h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Phone_Number</th>
            <th>Address</th>
        </tr>
        <tr th:each="users : ${users}">
            <td th:text="${users.id}"></td>
            <td th:text="${users.name}"></td>
            <td th:text="${users.email}"></td>
            <td th:text="${users.age}"></td>
            <td th:text="${users.number}"></td>
            <td th:text="${users.address}"></td>
        </tr>
    </table>
</body>
</html>