<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
<div id='header'>
    <button onclick="window.location='details';">Details</button>
    <h1>Register</h1>
</div>
<br>
<form th:object="${users}" th:action="@{/users/register}" method="POST">
    <div id='formItems'>
        <label>Name</label>
        <input type="text" name="name" id="name">

        <label>Age</label>
        <input type="number" name="age" id="age">

        <label>Email Id:</label>
        <input type="email" name="email" id="email">

        <label>Address:</label>
        <input type="text" name="add" id="add">

        <label>Phone number</label>
        <input type="number" name="num" id="num">

        <input type="submit" value="Submit">

    </div>
</form>
</body>

</html>